/* *{
  border: 3px red solid !important;
} */
.text-normal{
    font-weight: 400;
    font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}


.flex{
    display: flex;
}


.strelka-home{
  width: 55px;
  height: 17px;
    margin-bottom: 60px;
}
.logo-home{
  height: 54px;
  width: 334px;
  margin-top: 230px;
}
.home-subhead{
    font-size: 32px;
    color: var(--color-white);
    margin-top: 35px;


}
.link-detail{
display: flex;
margin-right: 29px;
height: 21px;
width: 126px;
color: var(--color-dark);
align-items: center;
font-weight: 500;
transition: .5s;
}
.link-detail:hover{
color: var(--color-gold);
}
.svg-detail{
    width: 6px;
    height: 16px;
    margin-left: 20px;
    margin-top: 4px;
    stroke: currentColor;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    position: relative;
    z-index: 50;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 256px;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    margin-right: 432px;
}
.header-nav__link{
    transition: .5s;
    margin-left: 124px;
    font-weight: 400;
}
.header-nav__link:hover{
color: #c8bb93;
}
.footer{
    margin-top: 265px;

}
.wrap-footer{
    justify-content: center;
    display: flex;
}
.title-footer{
    font-size: 14px;
    font-weight: 400;
}
.footer-flex-wrap{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.footer-input{
    border-radius: 5px;
    margin-right: 24px;
    padding-left: 5px;
    background: var(--grey-249);
    height: 40px;
    width: 424px;
}
.footer-button-title{
    color: var(--color-white);
    border-radius: 5px;
    background: var(--color-dark);
    width: 152px;
    height: 40px;
}
.footer-wrap-text{
    display: flex;
    margin-top: 55px;

}

.main-btn-wrap--block {
  display: none;
}


.img-apple{
margin-right: 20px;
}
.img-google{
   
margin-right: 20px;
}
.img-google-wrap{
    margin-top: 22px;
}
.subtitle-footer{
    color: var(--grey-196);
}

.footer-colums__wrap{
    margin-left: 121px;
    margin-right: 121px;
}
.footer-colums__headtitle{
margin-bottom: 23px;
}
.footer-colums__subtitle{
    margin-bottom: 17px;
color: var(--grey-196);
}
.footer-colums-mr80{
    margin-right: 80px;
}
.footer-colums-mr121{
    margin-right: 121px;
}

.copyrait{
    color: var(--grey-196);
    margin-top: 50px;
    width: 256px;
    text-align: left;
}
.warning{
color: var(--grey-196);
margin-bottom: 17px;
text-align: center;
margin-right: auto;
margin-left: auto;
max-width: 672px;
margin-top: 90px;
}

.home__buttom-wrap{
    margin-top: 76px;
 display: flex;

}
.home__buttom{
  display: flex;
    align-items: center;
}
.home__buttom-link{
  display: flex;
    color: var(--color-white);
    margin-right: 29px;
    width: 120px;
    height: 20px;
    transition: .5s;
    align-items: center;
}


.home__buttom-link:hover{
color: var(--color-gold);
}
.link-buy{
  display: flex;
    width: 208px;
    height: 48px;
      border: 2px solid var(--color-white); 
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin-left: 56px;
    border-radius: 100px;
    color: var(--color-white);
     border-color: var(--color-white);
}

.button-detail-mob{
  display: flex;
    justify-content: center;
    display: none;
}
.detail-mob-text{
    color: #c8bb93;
transform: .5s;
}
.main-detail {
  display: flex;
    margin-bottom: 200px;
    justify-content: center;
}
.main-logo{
    margin-top: 400px;
    margin-bottom: 61px;
    margin-left: auto;
margin-right: auto;
}
.main-head{
display: flex;
justify-content: center;
    font-size: 32px;
    align-items: center;
      margin-left: auto;
margin-right: auto;
}
.main__title{
    color: var(--color-gold);
    transition: .5s;
          margin-left: auto;
margin-right: auto;
}
.main-img{
      max-width: 28rem;
    margin-top: 200px;

}
.main-btn-wrap {
  display: flex;
    margin-top: 70px;
}
.wrap-product{
  display: flex;
    justify-content: center;
}
.wrap-product-2{
display: flex;
}

.logo-400{
    margin-top: 145px;
    margin-bottom: 45px;
}
.product-title{
    margin-bottom: 20px;
}
.product-1{
  display: flex;
    max-width: 620px;
}
.product-cost{
    margin-bottom: 45px;
}
.product-link{
  display: flex;
    width: 208px;
    height: 48px;
    font-weight: 500;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    border: 2px var(--color-dark) solid;
    transition: .5s;
}
.product-link:hover{
opacity: .7;
}
.contain-product{
    margin-right: 180px;
}
.contain-product-1{
  display: flex;
    margin-right: 70px;
}
.contain-product-2{
    margin-right: 0px;
}
.img-product{
    margin-top: 145px;
    margin-bottom: 45px;
}
.contain-product-2{
    margin-right: 60px;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.card {
  background-color: #f9f9f9;
  width: 688px;
  height: 465px;
}

.card-content {
  display: flex;
  justify-content: center;
}



.card-title {
  font-size: 23px;
  margin-bottom: 1.8rem;
  font-weight: 500;
}

.card-description {
  margin-right: 20px;
  margin-bottom: 3.3rem;
}

.card-image {
  mix-blend-mode: multiply;
}
.card-image-t {
  margin-top: 80px;
  mix-blend-mode: multiply;
}


.card:first-child {
  margin-right: 32px;
}

.card:first-child .card-title {
  margin-top: 135px;
}

.card:first-child .card-description {
  height: 42px;
  width: 328px;
}

.card:first-child .card-image {
  margin-top: 24px;
}


.card:last-child .card-title {
  margin-top: 172px;
}

.card:last-child .card-description {
  height: 63px;
  width: 296px;
  margin-bottom: 2rem;
}

.card:last-child .card-image {
  margin-top: 44px;
}

.svg-home{
    margin-left: 20px;
    height: 16px;
    width: 6px;
}
.header-home {
  min-height: 100vh;
  padding-top: 100px;
  background-color: #f5f5f5; 
  background-image: url('/500.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.burger {
   margin-right: auto;
  display: none; /* По умолчанию скрыт на десктопе */
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 100;
  padding: 5px;
}

/* Три линии бургера */
.burger__line {
  display: block;
  width: 24px;
  height: 2px;
  background: #333;
  position: absolute;
  left: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Расположение линий */
.burger__line--1 { top: 12px; }
.burger__line--2 { top: 19px; }
.burger__line--3 { top: 26px; }

/* Анимация в крестик при классе .active */
.burger.active .burger__line--1 {
  transform: translateY(7px) rotate(45deg);
}

.burger.active .burger__line--2 {
  opacity: 0;
}

.burger.active .burger__line--3 {
  transform: translateY(-7px) rotate(-45deg);
}

/* Альтернативная анимация - более плавная */
.burger.active .burger__line--1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .burger__line--3 {
  transform: rotate(-45deg) translate(7px, -6px);
}


@media  (max-width:1700px) {
    .logo{
        margin-right: 215px;
    }
    .header-wrap{
        padding-left: 100px;
    }
}
@media  (max-width:1300px) {

.flex-container {
    display: flex;

    flex-direction: column;
    align-items: center;
}
.card:first-child{
  margin-right: 0;
  margin-bottom: 30px;
}

.wrap-product{
  display: block;
margin-left: 15%;
}


    .logo{
        margin-right: 45px;
    }
        .header-wrap {
        padding-left: 50px;
    }
    .header-nav__link {
    margin-left: 80px;
}
}
@media  (max-width:1020px) {
.header-nav__link{
    display: none;
}
.burger{
    display: block;
    margin-left: auto; 
}

  .burger-btn {
    display: flex;
  }

.header-nav{
  margin-left: 700px;
}
    .logo {
      margin-right: 0;
    }

}
@media  (max-width:970px) {

.main-logo{
  margin-top: 150px;
}
.main-btn-wrap {
  display: none;
}

.main-btn-wrap--block {
  display: flex;
}



.home__buttom-link{
    color:  #264f53;
    margin-right: 29px;
    width: 120px;
    height: 20px;
    transition: .5s;
    align-items: center;
}


.link-buy{
width: 144px;
height: 38px;

    color: #264f53;
    border-color: #264f53;
}
.header-home{
  padding-bottom: 30px;
    min-height: 100vh;
  padding-top: 100px;
  background-color: #f5f5f5; 
  background-image: url('../public/500m.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo-home{
  margin-top: 0;
  width: 219px;
  height: 35px;
}

.strelka-home {
    width: 33px;
  height: 9px;
    margin-bottom: 30px;
    margin-left: 25px;
}
.home-subhead{
  display: flex;

  text-align: center;
  font-size: 25px;
}

    .home__buttom-wrap {
      justify-content: center;
        margin-top: 720px;
    }

    .header-home-wrap{
      margin-left: 30%;
    }
 
.main-detail{
  display: block;
}
.wrap-main-logo{
    display: flex;
    justify-content: center;
}
.main__title{
  margin-right: 0;
  margin-left: 0;
}
.main-btn-wrap{
  justify-content: center;
}
.main-img-wrap {
display: flex;
justify-content: center;
}
.main-img {
margin-top: 40px;

}
}
@media  (max-width:900px) {
.header-nav{
  margin-left: 500px;
}

}
@media  (max-width:800px) {
.strelka-home{
  margin-left: 0;
}
}
@media  (max-width:700px) {
.card{
  width: 100%;

}

.card-title{
  font-size: 16px;
}
.card:last-child .card-description{
  font-size: 12px;
  margin-bottom: 0;
}
.card-description{
  font-size: 12px;
  margin-bottom: 0;
}
.card-image{
  max-width: 64px;
  max-height: 440px;
}
.card-image-t{
    max-width: 145px;
  max-height: 248px;
  margin-top: 155px;
}
.card:first-child .card-image {
    margin-top: 105px;
}

.header-home-wrap {
        margin-left: 30%;
    }
.header-nav{
  margin-left: 400px;
}
.main-img{
  max-width: 20rem;
  margin-top: 30px;
}


.main-head{
  font-size: 25px;
}

.img-plo{

  max-width: 189px;
   max-height: 428px;
}
.logo-400{
  display: none;
}

.contain-product-1{
      flex-direction: column;
}
.contain-product-2{
   flex-direction: column;
}

.wrap-product-2 {
 
    flex-direction: column;
}
.product-1 {
    flex-direction: column;
}
}

@media  (max-width:600px) {
.header-nav{
  margin-left: 300px;
}
}
@media  (max-width:500px) {

  .card:last-child .card-description {
    height: 63px;
    width: 180px;
    margin-bottom: 0rem;
}
.card:first-child .card-description {
    height: 42px;
    width: 170px;
    margin-bottom: 1.5rem;
}

.header-nav{
  margin-left: 200px;
}
    .header-home-wrap {
        margin-left: 15%;
    }
        .header-wrap {
       padding-left: 25%;
    }
     .home-subhead {
      font-size: 20px;
     }
     .logo-home{
width: 170px;
        height: 25px;
     }
     .home__buttom-link{
      margin-right: 0;
     }
}
@media  (max-width:400px) {
  .header-home{
    background-image: url(/public/500mb.png);
  }
.header-nav{
  margin-left: 100px;
}
}