/* *{
  border: 1px red solid !important;
} */

.wrapper {
  min-height: 100%;
  width: 100%;
}

.text-normal{
    font-weight: 400;
    font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}


.wrap-header-nav {
  display: none;

  transition: all 0.3s ease;
}
.wrap-header-nav--active {
  display: block;

}
.header-item-burger li{
  margin-bottom: 30px;
}
.header-item-burger:last-child li{
margin-top: 50px;
}


.strelka-home{
  width: 55px;
  height: 17px;
    margin-bottom: 60px;
}
.logo-home{
  height: 54px;
  width: 334px;
  margin-top: 230px;
}
.home-subhead{
    font-size: 32px;
    color: var(--color-white);
    margin-top: 35px;


}

.wrap-header-nav{
 box-shadow: 3px 3px 3px #333;
  height: 100vh;
padding-right: 50px;
}


  .header-item-burger{
    display: flex;
    flex-direction: column;
align-items: flex-end;
  }


.header-list-burger{
  margin-bottom: 50px;
    transition: .5s;
margin-bottom: 80px;
    font-weight: 400;
}
.header-list-burger:hover{
color: #c8bb93;
}



.link-detail{
display: flex;
margin-right: 29px;
height: 21px;
width: 126px;
color: var(--color-dark);
align-items: center;
font-weight: 500;
transition: .5s;
}
.link-detail:hover{
color: var(--color-gold);
}
.svg-detail{
    width: 6px;
    height: 16px;
    margin-left: 20px;
    margin-top: 4px;
    stroke: currentColor;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    position: relative;
    z-index: 50;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 256px;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    margin-right: 432px;
}
.header-nav__link{
    transition: .5s;
    margin-left: 124px;
    font-weight: 400;
}
.header-nav__link:hover{
color: #c8bb93;
}
.footer{
    margin-top: 265px;

}
.wrap-footer{
    justify-content: center;
    display: flex;
}
.title-footer{
    font-size: 14px;
    font-weight: 400;
}
.footer-flex-wrap{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.footer-input{
    border-radius: 5px;
    margin-right: 24px;
    padding-left: 5px;
    background: var(--grey-249);
    height: 40px;
    width: 424px;
}
.footer-button-title{
    color: var(--color-white);
    border-radius: 5px;
    background: var(--color-dark);
    width: 152px;
    height: 40px;
}
.footer-wrap-text{
    display: flex;
    margin-top: 55px;

}

.main-btn-wrap--block {
  display: none;
}

.applications-link {
  display: flex;
  align-items: center;
 
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #333;
}

.applications-link:hover {
  background-color: #f5f5f5;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.map-link{
display: flex;
    width: 208px;
    height: 48px;
    font-weight: 500;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    border: 2px var(--color-dark) solid;
    transition: .5s;
}
.map-link-wrap{
  display: flex;
  justify-content: center;
}
.map-link:hover {
    opacity: .8;
    transform: translateY(-3px);
}

.map-btn{
font-weight: 600;
font-size: 15px;
line-height: 185%;
text-align: center;
color: var(--color-dark);
}
.map-wrap-title{
  margin-bottom: 36px;
font-weight: 400;
font-size: 22px;
line-height: 145%;
text-align: center;

}
.map-section{
  margin-top: 260px;
}
.map-sct-title{
  height: 232px;
  padding-top: 36px;
  padding-bottom: 48px;
  background: var(--grey-249);
  width: 100%;
}

.img-apple{
margin-right: 20px;
}
.img-google{
   
margin-right: 20px;
}
.img-google-wrap{
    margin-top: 22px;
}
.subtitle-footer{
    color: var(--grey-196);
}

.applications-wraper-1{

  margin-bottom: 30px;
}
.applications-svg-wrap{
  margin-right: 20px;
}
.footer-aplik-wrap{
  padding-top: 55px;
  display: flex;
  justify-content: center;
}

.social-wrap{
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.footer-social-title{
  text-align: right;
  color: var(--grey-196);
}

.footer-logo{
  margin-left: 20px;
}
.footer-columns{
  margin-left: 210px;
 display: grid;
 gap: 60px;
    grid-template-columns: 100px 130px 201px 220px;
  grid-template-rows: 200px; 

}

.warning{
  line-height: 162%;
}
.footer-colums__headtitle{
margin-bottom: 23px;
}
.footer-colums__subtitle{
  line-height: 162%;
    margin-bottom: 17px;
color: var(--grey-196);
 transition: transform 0.5s ease, color 0.3s ease;
}
.footer-colums__subtitle:hover{
 transform: translateY(-3px);
  color: var(--color-dark);

}
.footer-colums__subtitle:active{
 transform: translateY(-3px);
  color: var(--color-dark);
}


.copyrait{
    color: var(--grey-196);
    margin-top: 50px;
    
 text-align: start;
}
.warning{
color: var(--grey-196);
margin-bottom: 17px;
text-align: center;
margin-right: auto;
margin-left: auto;
max-width: 672px;
margin-top: 90px;
}

.home__buttom-wrap{
    margin-top: 76px;
 display: flex;

}
.home__buttom{
  display: flex;
    align-items: center;
}
.home__buttom-link{
  display: flex;
    color: var(--color-white);
    margin-right: 29px;
    width: 120px;
    height: 20px;
    transition: .5s;
    align-items: center;
}


.home__buttom-link:hover{
color: var(--color-gold);
}
.link-buy{
  display: flex;
    width: 208px;
    height: 48px;
      border: 2px solid var(--color-white); 
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin-left: 56px;
    border-radius: 100px;
    color: var(--color-white);
     border-color: var(--color-white);
     transition: .5s;
}
.link-buy:hover{
transform: translateY(-3px);
}

.button-detail-mob{
  display: flex;
    justify-content: center;
    display: none;
}
.detail-mob-text{
    color: #c8bb93;
transform: .5s;
}
.main-detail {
  display: flex;
    margin-bottom: 200px;
    justify-content: center;
}
.main-logo{
    margin-top: 400px;
    margin-bottom: 61px;
    margin-left: auto;
margin-right: auto;
}

.product-items{
  
  display: flex;
  justify-content: center;
}

.main-head{
display: flex;
justify-content: center;
    font-size: 32px;
    align-items: center;
      margin-left: auto;
margin-right: auto;
}
.main__title{
    color: var(--color-gold);
    transition: .5s;
          margin-left: auto;
margin-right: auto;
}
.main-img{
      max-width: 28rem;
    margin-top: 200px;

}
.main-btn-wrap {
  display: flex;
    margin-top: 70px;
}
.wrap-product{
  display: flex;
    justify-content: center;
}
.wrap-product-2{
display: flex;
}

.logo-400{
    margin-top: 145px;
    margin-bottom: 45px;
}
.product-title{
    margin-bottom: 20px;
}
.product-1{
  display: flex;
    max-width: 620px;
}
.product-cost{
  font-weight: 700;
    margin-bottom: 45px;
}
.product-link{
  display: flex;
    width: 208px;
    height: 48px;
    font-weight: 500;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    border: 2px var(--color-dark) solid;
    transition: .5s;
}
.product-link:hover{
opacity: .8;
transform: translateY(-3px);
}
.contain-product{
    margin-right: 180px;
}
.contain-product-1{
  display: flex;
  margin-left: 120px;
 
}

.contain-product-2{
  display: flex;
 
}
.contain-product-3{
  display: flex;
 
}
.contain-product-4{
  display: flex;
  margin-left: 204px;
 
}
.contain-product-3{
  display: flex;
 margin-right: -70px;
 
}

.product-title-4{
  margin-bottom: 20px;
}
.product-title-1{
  margin-bottom: 20px;
}
.product-title-2{
  margin-bottom: 20px;
}

.img-product{
    margin-top: 145px;
    margin-bottom: 45px;
}
.contain-product-2{
  display: flex;
    margin-right: 60px;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}


.card {
  background-color: #f9f9f9;
  width: 688px;
  height: 465px;
}

.card-content {
  display: flex;
  justify-content: center;
}


.map{

  width: 100%;
      height: 455px;
      margin: auto;
      overflow: hidden;
}
.card-title {
  font-size: 23px;
  margin-bottom: 1.8rem;
  font-weight: 500;
}

.card-description {
  margin-right: 20px;
  margin-bottom: 3.3rem;
}

.card-image {
  mix-blend-mode: multiply;
}
.card-image-t {
  margin-top: 80px;
  mix-blend-mode: multiply;
}


.card:first-child {
  margin-right: 32px;
}

.card:first-child .card-title {
  margin-top: 135px;
}

.card:first-child .card-description {
  height: 42px;
  width: 328px;
}

.card:first-child .card-image {
  margin-top: 24px;
}


.card:last-child .card-title {
  margin-top: 172px;
}

.card:last-child .card-description {
  height: 63px;
  width: 296px;
  margin-bottom: 2rem;
}

.card:last-child .card-image {
  margin-top: 44px;
}

.svg-home{
    margin-left: 20px;
    height: 16px;
    width: 6px;
}
.header-home {
  min-height: 100vh;
  padding-top: 100px;
  background-color: #f5f5f5; 
  background-image: url('/500.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.burger {
   margin-right: auto;
  display: none; 
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 100;
  padding: 5px;
}


.burger__line {
  display: block;
  width: 22px;
  height: 2px;
  background: #333;
  position: absolute;
  left: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.burger__line--1 { top: 12px; }
.burger__line--2 { top: 19px; }
.burger__line--3 { top: 26px; left: 19px;
width: 11px;}



.burger--active .burger__line--1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger--active .burger__line--3 {
  width: 22px;
      top: 28px;
    left: 7px;
  transform: rotate(-45deg) translate(7px, -6px);
}







.burger.active .burger__line--2 {
  opacity: 0;
}


.burger--active .burger__line--2{
  opacity: 0;
}




.input-wrap{
      display: grid;
    justify-content: center;
}


.input-button{
  border-radius: 4px;
width: 152px;
height: 40px;
background: var(--color-dark);
color: var(--color-white);
transition: .5s;
}

.input-button:hover{
   transform: translateY(-3px);
  color: var(--color-gold);
}

.footer-input{
  padding-left: 15px;
  font-size: 14px;
}

.input-title{
  position: relative;
  bottom: 20px;
  font-weight: 400;
}

.applications-subtitle{
white-space: nowrap;
  margin-top: 5px;
  color: var(--grey-196);
}

.applications-link  {
display: flex;
}

.main-headtitle{
  margin-bottom: 28px;
  font-weight: 400;
font-size: 40px;
line-height: 113%;
margin-top: 136px;
}
.main-subtitle{
font-weight: 300;
font-size: 15px;
line-height: 140%;
text-align: left;
margin-bottom: 32px;
}
.main-title{
  margin-bottom: 21px;
  text-align: left;
font-weight: 400;
font-size: 15px;
line-height: 140%;
}

.main{
  display: flex;
  justify-content: center;
  margin-top: 160px;
}
.main-two{
    display: flex;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 200px;
}

.main-wrap-img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 500px;
  padding-right: 150px;
}

.main-wrap-img-two{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 650px;
}


.main-gray{
  height: 1080px;
  width: 100%;
  background: var(--grey-249);
 
}
.main-gray-wrap{
  padding-top: 260px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.main-wrap-img-tree{
   display: flex;
    justify-content: center;
    align-items: center;
     padding-left: 350px;
}

@media  (max-width:1700px) {
    .logo{
        margin-right: 215px;
    }
    .header-wrap{
        padding-left: 100px;
    }
}

@media  (max-width:1400px) {



  .footer-columns {
    margin-left: 100px;
  }


}
@media  (max-width:1300px) {

.contain-product-4{

  margin-left: 0px;
 
}


.footer-aplik-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 100px;  
}


.footer-columns {
  grid-column: 1 / -1; 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}


.footer-applications {
  margin-top: 60px;
  margin-left: 100px;
  grid-column: 1; 
  grid-row: 2;  
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.footer-social-title{
  width: 234px;
}
.applications-link  {
  margin-right: 32px;
}

.footer-social {
  margin-top: 60px;
  grid-column: 2; 
  grid-row: 2;  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}






  .footer-social{
    padding-left: 30px;
  }
  .footer-columns {
grid-template-columns: 80px 125px 160px 170px;
  }


  .contain-product-1{
  margin-left: 0px;
 
}
.img-plo-wrap{
  width: 249px;
  height: 428px;
}
.img-plo-wrap-2{
  width: 240px;
  height: 428px;
}
.img-plo-wrap-3{
  width: 340px;
  height: 437px;
}
.img-plo-wrap-4{
  width: 240px;
  height: 433px;
}
.wrap-product {
  margin-bottom: 120px;
}
.contain-product{
  margin-right: 0;
}
.contain-product-3{
         margin-right: 270px;
}
.contain-product-2{
  margin-right: 0;
}
.flex-container {
    display: flex;

    flex-direction: column;
    align-items: center;
}
.card:first-child{
  margin-right: 0;
  margin-bottom: 30px;
}


.product-items{
  display: block;
}
    .logo{
        margin-right: 45px;
    }
        .header-wrap {
        padding-left: 50px;
    }
    .header-nav__link {
    margin-left: 80px;
}
}

@media  (max-width:1020px) {


.header-nav__link{
    display: none;
}
.burger{
    display: block;
    margin-left: auto; 
}

  .burger-btn {
    display: flex;
  }

.header-nav{
  margin-left: 700px;
}
    .logo {
      margin-right: 0;
    }
 

}
@media  (max-width:971px) {
.footer-columns{
  margin-left: 0;
}

.footer-columns{
  gap: 20px;
  grid-template-rows:200px;
}
  .footer-logo{
    display: none;
  }


.footer-columns {
  grid-column: 1 / -1; 
  grid-row: 1; 
  

  display: grid;
  grid-template-columns: repeat(2, 1fr);

}





.footer-applications {
  grid-column: 1; 
  grid-row: 2; 
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}


.footer-social {
  grid-column: 2; 
  grid-row: 2; 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}






.footer-colums__headtitle {
  font-size: 14px;
}
.footer-colums__subtitle{
  font-size: 12px;
}

.main-logo{
  margin-top: 150px;
}
.main-btn-wrap {
  display: none;
}

.main-btn-wrap--block {
  display: flex;
}



.home__buttom-link{
    color:  #264f53;
    margin-right: 29px;
    width: 120px;
    height: 20px;
    transition: .5s;
    align-items: center;
}


.link-buy{
width: 144px;
height: 38px;

    color: #264f53;
    border-color: #264f53;
}
.header-home{
  padding-bottom: 30px;
    min-height: 100vh;
  padding-top: 100px;
  background-color: #f5f5f5; 
  background-image: url('../public/500m.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo-home{
  margin-top: 0;
  width: 219px;
  height: 35px;
}

.strelka-home {
    width: 33px;
  height: 9px;
    margin-bottom: 30px;
    margin-left: 25px;
}
.home-subhead{
  display: flex;

  text-align: center;
  font-size: 25px;
}

    .home__buttom-wrap {
      justify-content: center;
        margin-top: 720px;
    }

    .header-home-wrap{
      margin-left: 30%;
    }
 
.main-detail{
  display: block;
}
.wrap-main-logo{
    display: flex;
    justify-content: center;
}
.main__title{
  margin-right: 0;
  margin-left: 0;
}
.main-btn-wrap{
  justify-content: center;
}
.main-img-wrap {
display: flex;
justify-content: center;
}
.main-img {
margin-top: 40px;

}
}
@media  (max-width:900px) {
.footer-input{

  border-radius: 4px;
width: 264px;
height: 30px;
}
.input-button{
font-weight: 500;
font-size: 12px;
line-height: 240%;
  border-radius: 4px;
        width: 100px;
        height: 30px;
}

.header-nav{
  margin-left: 500px;
}

.footer-columns{
  grid-template-rows: 160px;
}
.footer-applications{
  margin-left: 0;
}

}
@media (max-width: 800px) {
  .footer-aplik-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 40px;
  }
  
  .footer-columns {
    grid-column: 1;
    grid-row: 1;
    margin-left: 0;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  
  .footer-applications {
    grid-column: 1;
    grid-row: 2;
    margin-left: 0;
    margin-top: 0;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .footer-social {
    grid-column: 1;
    grid-row: 3;
    padding-left: 0;
    margin-top: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer-social-title {
    text-align: center;
    width: 100%;
  }
  
  .social-wrap {
    justify-content: center;
  }
}

@media  (max-width:700px) {

    .img-plo-wrap {
        width: 165px;
    }
    .img-plo-wrap-2 {
        width: 210px;
    }
.img-plo-wrap-3{
  width: 310px;

}
    .img-plo-wrap-4 {
        width: 155px;
    }
.product-title  {
  text-align: center;
  
}
.product-title-4  {
  width: 210px;
  text-align: center;

}

      .img-plo-wrap-2 {
      
        height: 534px;
    }

    .img-plo-wrap-3 {
  
        height: 531px;
    }

.product-title-2{
        width: 210px;
        text-align: center;
}
.product-title-1{
          width: 210px;
        text-align: center;
}
.product-cost{
text-align: center;
}


.product-button{
  display: flex;
  justify-content: center;
}
.card{
  width: 100%;

}
.contain-product-1{
  align-items: center;
}
.contain-product-2{
  align-items: center;
}
.contain-product-4{
  align-items: center;
}
.contain-product-3{
  align-items: center;
}

.card-title{
  font-size: 16px;
}
.card:last-child .card-description{
  font-size: 12px;
  margin-bottom: 0;
}
.card-description{
  font-size: 12px;
  margin-bottom: 0;
}
.card-image{
  max-width: 64px;
  max-height: 440px;
}
.card-image-t{
    max-width: 145px;
  max-height: 248px;
  margin-top: 155px;
}
.card:first-child .card-image {
    margin-top: 105px;
}

.header-home-wrap {
        margin-left: 30%;
    }
.header-nav{
  margin-left: 400px;
}
.main-img{
  max-width: 20rem;
  margin-top: 30px;
}


.main-head{
  font-size: 25px;
}

.img-plo{

  max-width: 189px;
   max-height: 428px;
}
.logo-400{
  display: none;
}

.contain-product-1{
      flex-direction: column;
}
.contain-product-2{
   flex-direction: column;
}
.contain-product-3{
   flex-direction: column;
}
.contain-product-4{
   flex-direction: column;
}
.contain-product-3{
  margin-right: 0;
}
 .contain-product-4{
  margin-left: 0;
 }
.wrap-product-2 {
 
    flex-direction: column;
}
.product-1 {
    flex-direction: column;
}
}

@media  (max-width:600px) {
.header-nav{
  margin-left: 300px;
}
}
@media  (max-width:500px) {

.footer-input{
  width: 137px;
height: 27px;
}

  .card:last-child .card-description {
    height: 63px;
    width: 180px;
    margin-bottom: 0rem;
}
.card:first-child .card-description {
    height: 42px;
    width: 170px;
    margin-bottom: 1.5rem;
}

.header-nav{
  margin-left: 200px;
}
    .header-home-wrap {
        margin-left: 15%;
    }
        .header-wrap {
       padding-left: 25%;
    }
     .home-subhead {
      font-size: 20px;
     }
     .logo-home{
width: 170px;
        height: 25px;
     }
     .home__buttom-link{
      margin-right: 0;
     }
}
@media  (max-width:450px) {
      .header-nav {
        margin-left: 150px;
    }
}

@media  (max-width:400px) {
.applications-link{
  margin-right: 0;
}
  .img-plo-3{
    width: 300px;
  }
  .header-home{
    background-image: url(/public/500mb.png);
  }
.header-nav{
  margin-left: 100px;
}
}







