@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-white: #FFF;
  --color-gold: #c8bb93;
  --color-dark: #1a202c;
  --mr-500:500px;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro.woff2') format('woff2'),
       url('/fonts/GothamPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-Light.woff2') format('woff2'),
       url('/fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 300;
}